### Preprocessing

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('include/nyc-rolling-sales.csv', index_col=0, delimiter=',')
df.info()
df.head(15)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84548 entries, 4 to 8413
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         84548 non-null  int64
 1   NEIGHBORHOOD                    84548 non-null  object
 2   BUILDING CLASS CATEGORY         84548 non-null  object
 3   TAX CLASS AT PRESENT            84548 non-null  object
 4   BLOCK                           84548 non-null  int64
 5   LOT                             84548 non-null  int64
 6   EASE-MENT                       84548 non-null  object
 7   BUILDING CLASS AT PRESENT       84548 non-null  object
 8   ADDRESS                         84548 non-null  object
 9   APARTMENT NUMBER                84548 non-null  object
 10  ZIP CODE                        84548 non-null  int64
 11  RESIDENTIAL UNITS               84548 non-null  int64
 12  COMMERCIAL UNITS                84548 non-null  int64
 13  TOTAL UNITS                     84548 non-null  int64
 14  LAND SQUARE FEET                84548 non-null  object
 15  GROSS SQUARE FEET               84548 non-null  object
 16  YEAR BUILT                      84548 non-null  int64
 17  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 19  SALE PRICE                      84548 non-null  object
 20  SALE DATE                       84548 non-null  object
dtypes: int64(9), object(12)
memory usage: 14.2+ MB

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00
9,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,405,16,,C4,516 EAST 12TH STREET,,...,20,0,20,2581,9730,1900,2,C4,-,2017-07-20 00:00:00
10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,,C4,210 AVENUE B,,...,8,0,8,1750,4226,1920,2,C4,3192840,2016-09-23 00:00:00
11,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,407,18,,C7,520 EAST 14TH STREET,,...,44,2,46,5163,21007,1900,2,C7,-,2017-07-20 00:00:00
12,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,379,34,,D5,141 AVENUE D,,...,15,0,15,1534,9198,1920,2,D5,-,2017-06-20 00:00:00
13,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,,D9,629 EAST 5TH STREET,,...,24,0,24,4489,18523,1920,2,D9,16232000,2016-11-07 00:00:00
14,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,394,44,,D7,181 AVENUE C,,...,30,4,34,4295,21328,1910,2,D7,-,2017-07-20 00:00:00
15,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2B,400,21,,D1,530-532 EAST 5TH STREET,,...,10,0,10,3717,12350,2009,2,D1,10350000,2016-10-17 00:00:00
16,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3 STREET, 1C",,...,0,0,0,-,-,1920,2,C6,1,2016-09-06 00:00:00
17,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3 STREET, 1C",,...,0,0,0,-,-,1920,2,C6,499000,2017-03-10 00:00:00
18,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3 STREET, 3A",,...,0,0,0,-,-,1920,2,C6,10,2017-04-28 00:00:00

In [3]:
# Bytter ut white space med NaN 
df = df.replace(r'^\s*$', np.nan, regex=True)
df = df.replace(r'^-*$', np.nan, regex=True)

df.head(15)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,NaN,C2,153 AVENUE B,NaN,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,NaN,C7,234 EAST 4TH STREET,NaN,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,NaN,C7,197 EAST 3RD STREET,NaN,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,NaN,C4,154 EAST 7TH STREET,NaN,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,NaN,C2,301 EAST 10TH STREET,NaN,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00
9,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,405,16,NaN,C4,516 EAST 12TH STREET,NaN,...,20,0,20,2581,9730,1900,2,C4,-,2017-07-20 00:00:00
10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,NaN,C4,210 AVENUE B,NaN,...,8,0,8,1750,4226,1920,2,C4,3192840,2016-09-23 00:00:00
11,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,407,18,NaN,C7,520 EAST 14TH STREET,NaN,...,44,2,46,5163,21007,1900,2,C7,-,2017-07-20 00:00:00
12,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,379,34,NaN,D5,141 AVENUE D,NaN,...,15,0,15,1534,9198,1920,2,D5,-,2017-06-20 00:00:00
13,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,NaN,D9,629 EAST 5TH STREET,NaN,...,24,0,24,4489,18523,1920,2,D9,16232000,2016-11-07 00:00:00
14,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,394,44,NaN,D7,181 AVENUE C,NaN,...,30,4,34,4295,21328,1910,2,D7,-,2017-07-20 00:00:00
15,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2B,400,21,NaN,D1,530-532 EAST 5TH STREET,NaN,...,10,0,10,3717,12350,2009,2,D1,10350000,2016-10-17 00:00:00
16,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,NaN,C6,"327 EAST 3 STREET, 1C",NaN,...,0,0,0,-,-,1920,2,C6,1,2016-09-06 00:00:00
17,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,NaN,C6,"327 EAST 3 STREET, 1C",NaN,...,0,0,0,-,-,1920,2,C6,499000,2017-03-10 00:00:00
18,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,NaN,C6,"327 EAST 3 STREET, 3A",NaN,...,0,0,0,-,-,1920,2,C6,10,2017-04-28 00:00:00

In [4]:
print("Sjekker om noen kolonner er tomme:" + "\n", df.isna().sum())

Sjekker om noen kolonner er tomme:
 BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING CLASS CATEGORY               0
TAX CLASS AT PRESENT                738
BLOCK                                 0
LOT                                   0
EASE-MENT                         84548
BUILDING CLASS AT PRESENT           738
ADDRESS                               0
APARTMENT NUMBER                  65496
ZIP CODE                              0
RESIDENTIAL UNITS                     0
COMMERCIAL UNITS                      0
TOTAL UNITS                           0
LAND SQUARE FEET                      0
GROSS SQUARE FEET                     0
YEAR BUILT                            0
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
SALE PRICE                            0
SALE DATE                             0
dtype: int64

In [5]:
# Fjerner irrelevante kolonner fra datasett
# Vi kan også endre verdi på Borough (1-5) til
# Manhattan (1), Bronx (2), Brooklyn (3), Queens (4), and Staten Island (5).

del df["EASE-MENT"]  #Tom, burde fjernes
del df["BUILDING CLASS AT PRESENT"]
del df["LOT"]
del df["SALE DATE"]
del df["TAX CLASS AT PRESENT"]
del df["ZIP CODE"]
del df["BLOCK"]
del df["COMMERCIAL UNITS"]
del df["TOTAL UNITS"]
df.head(15)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,ADDRESS,APARTMENT NUMBER,RESIDENTIAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,153 AVENUE B,NaN,5,1633,6440,1900,2,C2,6625000
5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,234 EAST 4TH STREET,NaN,28,4616,18690,1900,2,C7,-
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,197 EAST 3RD STREET,NaN,16,2212,7803,1900,2,C7,-
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,154 EAST 7TH STREET,NaN,10,2272,6794,1913,2,C4,3936272
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,301 EAST 10TH STREET,NaN,6,2369,4615,1900,2,C2,8000000
9,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,516 EAST 12TH STREET,NaN,20,2581,9730,1900,2,C4,-
10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,210 AVENUE B,NaN,8,1750,4226,1920,2,C4,3192840
11,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,520 EAST 14TH STREET,NaN,44,5163,21007,1900,2,C7,-
12,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,141 AVENUE D,NaN,15,1534,9198,1920,2,D5,-
13,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,629 EAST 5TH STREET,NaN,24,4489,18523,1920,2,D9,16232000
14,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,181 AVENUE C,NaN,30,4295,21328,1910,2,D7,-
15,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,530-532 EAST 5TH STREET,NaN,10,3717,12350,2009,2,D1,10350000
16,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"327 EAST 3 STREET, 1C",NaN,0,-,-,1920,2,C6,1
17,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"327 EAST 3 STREET, 1C",NaN,0,-,-,1920,2,C6,499000
18,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"327 EAST 3 STREET, 3A",NaN,0,-,-,1920,2,C6,10

In [6]:
#Fjerner rader hvor sale price er tom
df = df[df["SALE PRICE"].str.contains("-")==False]
#df = df[df["SALE PRICE"].str.contains("0")==False]

In [7]:
df.head(15)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,ADDRESS,APARTMENT NUMBER,RESIDENTIAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,153 AVENUE B,NaN,5,1633,6440,1900,2,C2,6625000
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,154 EAST 7TH STREET,NaN,10,2272,6794,1913,2,C4,3936272
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,301 EAST 10TH STREET,NaN,6,2369,4615,1900,2,C2,8000000
10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,210 AVENUE B,NaN,8,1750,4226,1920,2,C4,3192840
13,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,629 EAST 5TH STREET,NaN,24,4489,18523,1920,2,D9,16232000
15,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,530-532 EAST 5TH STREET,NaN,10,3717,12350,2009,2,D1,10350000
16,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"327 EAST 3 STREET, 1C",NaN,0,-,-,1920,2,C6,1
17,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"327 EAST 3 STREET, 1C",NaN,0,-,-,1920,2,C6,499000
18,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"327 EAST 3 STREET, 3A",NaN,0,-,-,1920,2,C6,10
19,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"327 EAST 3RD STREET, 5A",NaN,0,-,-,1920,2,C6,529500
20,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"327 EAST 3 STREET, 2E",NaN,0,-,-,1920,2,C6,423000
21,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"317 EAST 3RD STREET, 12",NaN,0,-,-,1925,2,C6,501000
22,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"311 EAST 3RD STREET, 17",NaN,0,-,-,1920,2,C6,450000
23,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"311 EAST 3RD, 22",NaN,0,-,-,1920,2,C6,510000
25,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"742 EAST 6TH STREET, 1",NaN,0,-,-,1902,2,C6,350000

In [8]:
df.shape[0]

df.info()

#df.loc[df['APARTMENT NUMBER'] != ]

df.head(15)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69987 entries, 4 to 8413
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         69987 non-null  int64
 1   NEIGHBORHOOD                    69987 non-null  object
 2   BUILDING CLASS CATEGORY         69987 non-null  object
 3   ADDRESS                         69987 non-null  object
 4   APARTMENT NUMBER                15496 non-null  object
 5   RESIDENTIAL UNITS               69987 non-null  int64
 6   LAND SQUARE FEET                69987 non-null  object
 7   GROSS SQUARE FEET               69987 non-null  object
 8   YEAR BUILT                      69987 non-null  int64
 9   TAX CLASS AT TIME OF SALE       69987 non-null  int64
 10  BUILDING CLASS AT TIME OF SALE  69987 non-null  object
 11  SALE PRICE                      69987 non-null  object
dtypes: int64(4), object(8)
memory usage: 6.9+ MB

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,ADDRESS,APARTMENT NUMBER,RESIDENTIAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,153 AVENUE B,NaN,5,1633,6440,1900,2,C2,6625000
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,154 EAST 7TH STREET,NaN,10,2272,6794,1913,2,C4,3936272
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,301 EAST 10TH STREET,NaN,6,2369,4615,1900,2,C2,8000000
10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,210 AVENUE B,NaN,8,1750,4226,1920,2,C4,3192840
13,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,629 EAST 5TH STREET,NaN,24,4489,18523,1920,2,D9,16232000
15,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,530-532 EAST 5TH STREET,NaN,10,3717,12350,2009,2,D1,10350000
16,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"327 EAST 3 STREET, 1C",NaN,0,-,-,1920,2,C6,1
17,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"327 EAST 3 STREET, 1C",NaN,0,-,-,1920,2,C6,499000
18,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"327 EAST 3 STREET, 3A",NaN,0,-,-,1920,2,C6,10
19,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"327 EAST 3RD STREET, 5A",NaN,0,-,-,1920,2,C6,529500
20,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"327 EAST 3 STREET, 2E",NaN,0,-,-,1920,2,C6,423000
21,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"317 EAST 3RD STREET, 12",NaN,0,-,-,1925,2,C6,501000
22,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"311 EAST 3RD STREET, 17",NaN,0,-,-,1920,2,C6,450000
23,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"311 EAST 3RD, 22",NaN,0,-,-,1920,2,C6,510000
25,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,"742 EAST 6TH STREET, 1",NaN,0,-,-,1902,2,C6,350000

### Model 1:  Naive Bayes?

### Model 2: KNN

### Model 3 Decession Trees

### Model 4: Linear Classification

### Model 5: Feedforward neural network